@import '@fontsource/inter';
@import "tailwindcss";

:root {
  --color-primary: #6D28D9;
  --color-primary-light: #A78BFA;
  --color-lavender: #DDD6FE;
  --color-bg-light: #F5F3FF;
  --color-text-dark: #1F1F1F;
  --color-primary-hover: #5B21B6;
  --color-secondary-hover: #9333EA;

  --font-family-sans: Inter, sans-serif;
}
@theme {
  --color-primary: #6D28D9;
  --color-primary-light: #A78BFA;
  --color-lavender: #DDD6FE;
  --color-bg-light: #F5F3FF;
  --color-text-dark: #1F1F1F;
  --color-primary-hover: #5B21B6;
  --color-secondary-hover: #9333EA;
  
  --font-family-sans: Inter, sans-serif;
}
